---
import Layout from '@layouts/Layout.astro'
import { Search, Bento, ThemeSwitch } from '@components/index'
---

<Layout title="Wolly's startpage">
  <main id='container' 
    class="
    container 
    min-w-full 
    min-h-screen
    flex 
    items-center
    justify-center

    fixed 
    top-0 
    left-0 
    right-0 
    bottom-0">

    <Bento />
    <Search client:only />
    <ThemeSwitch client:only />
    <script src='../ts/script/setKeybindings.js' />
  </main>
</Layout>
