---
import Layout from '../layouts/Layout.astro'
import Search from '../components/Search.vue'
import Bento from '../components/bento/main.vue'
import ThemeSwitch from '../components/ThemeSwitch.vue'
---

<Layout title="Wolly's startpage">
  <main id='container' 
    class="
    container 
    min-w-full 
    min-h-screen
    flex 
    items-center
    justify-center

    fixed 
    top-0 
    left-0 
    right-0 
    bottom-0">

    <script src='../js/keybinds.js' />
    <Search client:only />
    <ThemeSwitch client:only />
    <Bento client:only />
  </main>
</Layout>
