---
import Layout from '../layouts/Layout.astro'
import ThemeSwitch from '../components/ThemeSwitch.vue'
---

<Layout title='Startup page'>
  <main id='container' class="
    container 
    min-w-full 
    flex 
    fixed 
    top-0 
    left-0 
    right-0 
    bottom-0">
    <ThemeSwitch client:only />
  </main>
</Layout>
