---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Startup page">
  <div id="container" class="container min-w-full">
    <div class="darkmode fas fa-moon"></div>
  </div>
  <div class="clip"></div>

  <script>
    let scroll = 0
    let buttonenabled = true
    const SCROLL_CONTAINER = document.querySelector(".container")

    document.body.addEventListener("click", (elem) => {
      if (!buttonenabled || !elem.target.classList.contains('darkmode'))
        return
      
      console.log('after click', scroll)
      
      buttonenabled = false;
      
      // Copy container to inside clip
      document.querySelector(".clip").innerHTML = document.querySelector("body > .container").outerHTML;
      
      scrollbind(document.querySelector(".clip .container"));
      
      // Toggle dark mode and set scroll
      document.querySelector(".clip .container").classList.toggle("dark");
      document.querySelector(".clip .container").scrollIntoView(scroll); 
      
      // Make changes: change button icon
      document.querySelector(".clip .darkmode").classList.toggle("fa-moon"); 
      document.querySelector(".clip .darkmode").classList.toggle("fa-sun"); 
      
      // Animate the clip
      document.querySelector(".clip").classList.add("anim"); 
      
      // Slightly before animation finishes but when the circle will have covered the screen, 
      // gives us 500ms to make the changes we need which is plenty. Slower computers will not see a flash, 
      // but elements may not have loaded - if it really is an issue delay line 19 a little.
      
      setTimeout(function(){
        // Replace container with clip html
        document.querySelector("body > .container").outerHTML = document.querySelector(".clip").innerHTML; 
        
        // bind scroll with new container
        scrollbind(document.querySelector("body > .container")); 
        
        // Set scroll position
        document.querySelector("body > .container").scrollIntoView(scroll); 
        
        // Hide clip
        document.querySelector(".clip").innerHTML = "";
        document.querySelector(".clip").classList.remove("anim"); 
        
        buttonenabled = true;
      }, 1000);
    });

    const scrollbind = el => el.addEventListener("scroll", function(){
      croll = this.scrollTop;
      if(document.querySelector(".container").length > 1) //No point setting it if there is only 1
        document.querySelector(".container").scrollTop = scroll; 
        //This will set the scroll position of the container inside the clip so it scrolls while the animation is being carried out
    });

    scrollbind(document.querySelector(".container"));
  </script>
</Layout>

<style> 
@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro|Poly:400i");
body {
  font-family: "Source Sans Pro", sans-serif;
}
body .clip {
  z-index: 2;
  position: fixed;
  width: 0;
  height: 0;
  top: 3rem;
  right: 3rem;
  border-radius: 100%;
}
body .clip.anim {
  animation: open 1.5s ease-in;
  -webkit-animation: open 1.5s ease-in;
}

@-webkit-keyframes open {
  0% {
    top: 3rem;
    right: 3rem;
    width: 0rem;
    height: 0rem;
    clip-path: circle(0rem at center);
    -webkit-clip-path: circle(0rem at center);
  }
  100% {
    top: calc(-250vmax + 3rem);
    right: calc(-250vmax + 3rem);
    width: 500vmax;
    height: 500vmax;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
}
@keyframes open {
  0% {
    width: 0;
    height: 0;
    top: 3rem;
    right: 3rem;
    clip-path: circle(0rem at center);
    -webkit-clip-path: circle(0rem at center);
  }
  100% {
    top: calc(-250vmax + 3rem);
    right: calc(-250vmax + 3rem);
    width: 500vmax;
    height: 500vmax;
    clip-path: circle(100% at center);
    -webkit-clip-path: circle(100% at center);
  }
}
body .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--color);
  background: var(--background);
}
body .container:not(.dark) {
  --background: #a9b665;
  --color: #323133;
  --cardtext: #323133;
  --cardtext2: #3c3b3d;
  --cardshadow: rgba(0, 0, 0, 0.1);
  --accent: #bf263c;
}
body .container.dark {
  --background: #282828;
  --color: #f5f7fa;
  --cardtext: #f5f7fa;
  --cardtext2: #e6e9ed;
  --cardshadow: rgba(0, 0, 0, 0.1);
  --accent: #d8334a;
}
body .container .darkmode {
  position: fixed;
  top: 1rem;
  right: 2rem;
  font-size: 1.75rem;
  padding: 1rem;
  margin: 1px;
  border-radius: 100%;
  box-shadow: 0 0 1rem -0.25rem var(--accent), inset 0 0 1rem -0.75rem var(--accent);
  color: var(--accent);
  cursor: pointer;
  transition: 0.25s -0.05s;
  z-index: 10;
}
body .container .darkmode:hover {
  box-shadow: 0 0 1rem -0.25rem var(--accent), inset 0 0 1rem -0.25rem var(--accent);
}
@-webkit-keyframes flash {
  0%, 50%, 100% {
    color: var(--accent);
  }
  70%, 80% {
    color: var(--cardtext);
  }
}
@keyframes flash {
  0%, 50%, 100% {
    color: var(--accent);
  }
  70%, 80% {
    color: var(--cardtext);
  }
}
</style>
