---
---

<section ref='bentoRef' class="grid xl:grid-cols-7 sm:grid-cols-3 xs:grid-cols-2 gap-y-6 gap-x-6 grid-flow-row-dense content-center">

  <!-- ROW 1 -->
  <button class="overflow-hidden rounded-xl col-span-1 row-span-2 h-80 w-36 shadow-4xl">
    <div class="sticky rounded-xl overflow-hidden h-80 w-36 border-4"> 
    </div>
  </button>

  <button class="rounded-xl col-span-1 h-36 w-36 shadow-4xl dark:shadow-none">
    <div class="sticky rounded-xl overflow-hidden h-36 w-36 border-4"> 
    </div>
  </button>

  <button class="text-black rounded-xl col-span-2 h-36 w-80 shadow-4xl border-4"> </button>
  <button class="text-black rounded-xl col-span-1 h-36 w-36 shadow-4xl border-4 overflow-y-auto"> </button>
  <button class="bg-off-white1 text-black rounded-xl col-span-1 h-36 w-36 shadow-4xl border-4"> </button>
  <button class="text-black rounded-xl col-span-1 h-36 w-36 shadow-4xl border-4"> </button>

  <!-- ROW 2 -->
  <button class="text-black rounded-xl col-span-1 h-36 w-36 shadow-4xl border-4"> </button>
  <button class="text-black rounded-xl col-span-1 h-36 w-36 shadow-4xl border-4 overflow-y-auto"> </button>
  <button class="overflow-hidden rounded-xl col-span-3 row-span-2 h-80 shadow-4xl border-4"></button>
  <button class="bg-off-white1 text-black rounded-xl col-span-1 h-36 w-36 shadow-4xl border-4"></button>

  <!-- ROW 3 -->
  <button class="text-black rounded-xl col-span-1 h-36 w-36 shadow-4xl border-4 overflow-y-auto"> </button>
  <button class="rounded-xl col-span-2 row-span-2 shadow-4xl dark:shadow-none border-4"></button>
  <button class="text-black rounded-xl col-span-1 h-36 w-36 shadow-4xl border-4 overflow-y-auto"> </button>

  <!-- ROW 4 -->
  <button class="text-black rounded-xl col-span-1 h-36 w-36 shadow-4xl border-4 overflow-y-auto"> </button>
  <button class="text-black rounded-xl col-span-1 h-36 w-36 shadow-4xl border-4"></button>
  <button class="flex items-center justify-center bg-blue3 text-white rounded-xl col-span-1 h-36 w-36 shadow-4xl border-4"></button>
  <button class="text-black rounded-xl col-span-1 h-36 w-36 shadow-4xl border-4"></button>
  <button class="bg-red2 dark:bg-red1 text-black rounded-xl col-span-1 h-36 w-36 shadow-4xl border-4"></button>
</section>

