---
interface Props {
  isOpen: Boolean
}

const { isOpen } = Astro.props
---

<div class={`clip fixed top-12 w-0 h-0 z-2 rounded-full ${isOpen && 'open'}`}>
  <slot />
</div>

<style>
  .clip {
    width: 0;
    height: 0;
    top: 3rem;
    right: 3rem;
    clip-path: circle(0 at center);
  }

  .open {
    width: 500vmax;
    height: 500vmax;
    top: calc(-250vmax + 3rem);
    right: calc(-250vmax + 3rem);
    clip-path: circle(100% at center);
  }
</style>
